h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 75px;
    letter-spacing: -1.5px;
}

h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 47px;
    letter-spacing: -0.5px;
}

h3 {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 37px;
    letter-spacing: 0px;
}

h4 {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 26px;
    letter-spacing: 0.25px;
}