@import '../styles/_colors.scss';
@import '../styles/_mixins.scss';

.container {
    @include container;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grey {
    color: $light-grey;
}

.left {
    display: flex;
    align-items: center;
    flex: 1;
}

.right {
    display: flex;
}

.link {
    cursor: pointer;
    display: block;
    margin-left: 25px;
}

.link:hover {
    border-bottom: 3px solid #303129;
    margin-bottom: -3px;
}